{% extends "portal.html" %}

{% block title %}GH | All ads{% endblock %}

{% block content %}
  <div class="ad-form">
    <span class="ad-form-title">
      <a class="txt5" href="{{url_for('all_ad')}}">Все объявления</a> &#160; | &#160;
      <a class="txt4" href="{{url_for('all_ad_on_record')}}">Участвую </a> 
    </span>
    <div class="scroll_div">
      {% for message in messages %}
          {% set status = {'st': "U"} %}
          <div class="ads_form">
              Автор: {{message.dataCreator.name}}&nbsp;{{message.dataCreator.surname}}<br>
              Дата: {{(message.date)[8:10]+"."+(message.date)[5:7]+"."+(message.date)[0:4]}} <br>
              Время: {{message.time}} <br>
              Место: {{(message.place)}} <br>
              Количество человек: {{message.quantityPlayers}}<br>
              Названия игр: {{message.nameGame}}<br>
              Предполагаемая длительность: {{message.duration}}<br>
              Описание: {{message.description}}<br>
              Участники: <br>
              <div class="participants">     
                {% for player in message.recordedPlayers %}
                  &bull; {{player.name}}&nbsp;{{player.surname}}<br>
                  {% if player.email == for_status.email  %}
                      {% if status.update({'st': "R"}) %} {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
              <div class="text-btn-ads">

                {% if message.dataCreator.email == for_status.email  %}
                    <a class="txt2 txt3" href="{{url_for('del_message', ad_id = message._id)}}">&#10006; Удалить </a>
                {% elif status.st == "R" %}
                    <a class="txt2 txt3" href="{{url_for('dell_player', ad_id = message._id)}}">&#10008; Отписаться </a>
                {% else %}
                    <a class="txt2 txt3" href="{{url_for('add_player', ad_id = message._id)}}">&#10010; Записаться </a> &#160; &#160;
                    <a class="txt2 txt3" href="{{url_for('dell_player', ad_id = message._id)}}">&#10008; Отписаться </a>
                {% endif %}

              </div>
          </div> 
      {% endfor %} 
    </div>
  </div>
{% endblock %}