<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<a href="{{ url_for('all_ad') }}">Все игры</a>
<body>
<h3>Games list</h3>
{% for message in messages %}
<div>{{ message.date }}&nbsp;{{ message.time }} <b>#{{ message.place }}</b>
    {{ message.quantityPlayers }} {{ message.nameGame }}
{{ message.duration }}  <br> {{ message.description }} <br>
    {% for player in message.recordedPlayers %}
        {{ player.name }}&nbsp;{{ player.surname }} <br>
    {% endfor %}
</div>
<a href="{{ url_for('add_player', ad_id = message._id) }}">Записаться</a>
<a href="{{ url_for('dell_player', ad_id = message._id) }}">Отписаться</a>
<br><br>
{% endfor %}

<a href="{{url_for('get_person')}}">Мой профиль</a>
<a href="{{url_for('my_ad')}}">Мои объявления</a>
<a href="{{url_for('form_for_add_ad')}}">Создать объявление</a>
<a href="{{url_for('all_ad')}}">Все объявления</a>
<a href="{{url_for('logout')}}">Выход</a>

</body>
</html>