<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Game</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form method="post" action="/add_message">
    <input type="date" name="date">
    <input type="time" name="time">
    <input type="text" name="place">
    <input type="number" name="quantity">
    <input type="text" name="game_name">
    <input type="text" name="duration">
    <input type="text" name="description">
    <button type="submit">Добавить объявление</button>
</form>

<a href="{{url_for('get_person')}}">Мой профиль</a>
<a href="{{url_for('my_ad')}}">Мои объявления</a>
<a href="{{url_for('form_for_add_ad')}}">Создать объявление</a>
<a href="{{url_for('all_ad')}}">Все объявления</a>
<a href="{{url_for('logout')}}">Выход</a>

</body>
</html>