<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greetings</title>
</head>
<body>
<h1>Hello, {{ user.name }}</h1>

<h3>Gamer</h3>
<div>{{ user.name }}&nbsp;{{ user.surname }} <b>#{{ user.phone }}</b> {{ user.email }}</div>

<a href="{{url_for('get_person')}}">Мой профиль</a>
<a href="{{url_for('my_ad')}}">Мои объявления</a>
<a href="{{url_for('form_for_add_ad')}}">Создать объявление</a>
<a href="{{url_for('all_ad')}}">Все объявления</a>
<a href="{{url_for('logout')}}">Выход</a>

</body>
</html>