<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <link rel="icon" href="{{ url_for( 'static', filename='image/em.ico', v=1)}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GH | Registration</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/normalize.css', v=1)}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/GH.css', v=1)}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/GH_P.css', v=1)}}" type="text/css">
  </head>

  <body background="{{ url_for( 'static', filename='image/fon1.jpg', v=1)}}"> 
    <div>
        <img class="pic" name = 'img' src = "{{ url_for( 'static', filename='image/top.png')}}"/>

          <div class="wrap-reg">
            <form class="reg-form validate-form" action="{{url_for('register')}}" method="post">
              <span class="login100-form-title">
                Регистрация
              </span>

              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=error>
                  {% for message in messages %}
                    <li>Ошибка: {{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}

              <div class="wrap-input100 validate-input" >
                {% if name %}
                    <input class="input100" required value={% autoescape false %} {{ name | replace(" ", "&nbsp;") }} {% endautoescape %} type="text"  name="name" placeholder="Имя">
                {% else %}
                    <input class="input100" required type="text"  name="name" placeholder="Имя">
                {% endif %}
                <span class="focus-input100"></span>
                <span class="symbol-input100"></span>
              </div>

              <div class="wrap-input100 validate-input" >
                {% if surname %}
                    <input class="input100" required value={% autoescape false %} {{ surname | replace(" ", "&nbsp;") }} {% endautoescape %}  type="text" name="surname" placeholder="Фамилия">
                {% else %}
                    <input class="input100" required  type="text" name="surname" placeholder="Фамилия">
                {% endif %}
                <span class="focus-input100"></span>
                <span class="symbol-input100"></span>
              </div>

              <div class="wrap-input100 validate-input" >
                {% if phone %}
                    <input class="input100" value={% autoescape false %} {{ phone | replace(" ", "&nbsp;") }} {% endautoescape %} type="text" name="phone" placeholder="Телефон (необязательно)">
                {% else %}
                    <input class="input100" type="text" name="phone" placeholder="Телефон (необязательно)">
                {% endif %}
                <span class="focus-input100"></span>
                <span class="symbol-input100"></span>
              </div>
    
              <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                {% if email %}
                    <input class="input100" required value={% autoescape false %} {{ email | replace(" ", "&nbsp;") }} {% endautoescape %} pattern=".*@.*" type="text" name="email" placeholder="Email">
                {% else %}
                    <input class="input100" required pattern=".*@.*" type="text" name="email" placeholder="Email">
                {% endif %}
                <span class="focus-input100"></span>
                <span class="symbol-input100"></span>
              </div>
    
              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                {% if password %}
                    <input class="input100" required value={% autoescape false %} {{ password | replace(" ", "&nbsp;") }} {% endautoescape %}  type="password" name="password" placeholder="Пароль">
                {% else %}
                    <input class="input100" required  type="password" name="password" placeholder="Пароль">
                {% endif %}
                <span class="focus-input100"></span>
                <span class="symbol-input100"></span>
              </div>

              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                {% if password2 %}
                    <input class="input100" required value={% autoescape false %} {{ password2 | replace(" ", "&nbsp;") }} {% endautoescape %}  type="password" name="password2" placeholder="Повторите пароль">
                {% else %}
                    <input class="input100" required  type="password" name="password2" placeholder="Повторите пароль">
                {% endif %}
                <span class="focus-input100"></span>
                <span class="symbol-input100"></span>
              </div>
              
              <div class="container-login100-form-btn">
                <input class="login100-form-btn" type="submit" value="Зарегистрироваться">
              </div>
    
              <div class="text-center">
                <a class="txt2" href="{{url_for('login')}}">Назад</a>
              </div>

            </form>
          </div>
          <br><br>
    </div>
  </body>
</html>